<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917358371129-as7a5eerh0m8qpb4i89pf65jolc6v73g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917358371129-as7a5eerh0m8qpb4i89pf65jolc6v73g</string>
	<key>API_KEY</key>
	<string>AIzaSyCYurN7aJWZgUA_k7kNVodK4MUzZSdK8Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>917358371129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arthurmorgan.Quizlet-ish</string>
	<key>PROJECT_ID</key>
	<string>quizlet-ish-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>quizlet-ish-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917358371129:ios:f3c37c6bcdef0f55ae48e8</string>
</dict>
</plist>